.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Evènements
    %ol.breadcrumb
      %li
        %a{:href => admin_root_path} Accueil
      %li
        %a{:href => admin_events_path} Evènements
      %li.active
        %strong Modifier un évènements

= render 'form'
