%footer.section
  .footer-minimal.bg-default.text-center.text-md-left
    .container.wow.fadeInUp
      .row.row-20.justify-content-md-between
        .col-md-7.col-lg-4.col-xl-auto
          %p.rights
            %span Blacklights
            %span  © 
            %span.copyright-year
            %span . 
            %a{:href => "privacy-policy.html"} Privacy Policy.
        .col-md-auto
          %ul.list-social.list-inline.list-inline-md
            %li
              %a.icon.mdi.mdi-facebook{:href => "#"}
            %li
              %a.icon.mdi.mdi-youtube-play{:href => "#"}
            %li
              %a.icon.mdi.mdi-twitter{:href => "#"}
            %li
              %a.icon.mdi.mdi-instagram{:href => "#"}
        .col-md-auto
          %ul.footer-creative-nav.list-inline.list-inline-md
            %li
              %a{:href => "events.html"} EventsX
            %li
              %a{:href => "gallery.html"} Gallery
            %li
              %a{:href => "contact-us.html"} Contacts
#form-output-global.snackbars
