-# Represents the right side of the menu at the top
-# Contains 'Language selection', 'Sign In - Sign Out'

.dropdown.language-menu
  %a#dropdownMenuButton.btn.btn-secondary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
    .language-selected
      .language-item
        .language-img
          %img.brand-logo-dark{:alt => "", :height => "32", :src => asset_path("flag_uk.svg"), :width => "32"}
        .language-text EN
  .dropdown-menu.language-list{"aria-labelledby" => "dropdownMenuButton"}
    %a.dropdown-item{:href => "#"}
      .language-item
        .language-img
          %img.brand-logo-dark{:alt => "", :height => "32", :src => asset_path("flag_uk.svg"), :width => "32"}
        .language-text EN
    %a.dropdown-item{:href => "#"}
      .language-item
        .language-img
          %img.brand-logo-dark{:alt => "", :height => "32", :src => asset_path("flag_france.svg"), :width => "32"}
        .language-text FR

- if user_signed_in?
  .dropdown
    %button#dropdownMenuButton.btn.dropdown-toggle.user-info-title{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
      -# - if current_user.profile.contact[:firstname].present? && current_user.profile.contact[:lastname].present?
      -#   = current_user.contact.full_name
      -# - else
      = current_user[:email]
    .dropdown-menu.user-info-menu{"aria-labelledby" => "dropdownMenuButton"}
      %a.dropdown-item.user-info-profil{:href => "#"} Profile
      = button_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'dropdown-item btn-signout'
- else
  %a.btn.btn-primary.btn-signin{href: new_user_session_path} Sign In
