.rd-navbar-wrap
  %nav.rd-navbar.rd-navbar-classic{"data-layout" => "rd-navbar-fixed", "data-lg-device-layout" => "rd-navbar-fixed", "data-lg-layout" => "rd-navbar-static", "data-lg-stick-up" => "true", "data-lg-stick-up-offset" => "50px", "data-md-device-layout" => "rd-navbar-fixed", "data-md-layout" => "rd-navbar-fixed", "data-sm-layout" => "rd-navbar-fixed", "data-xl-device-layout" => "rd-navbar-static", "data-xl-layout" => "rd-navbar-static", "data-xl-stick-up" => "true", "data-xl-stick-up-offset" => "1px", "data-xxl-device-layout" => "rd-navbar-static", "data-xxl-layout" => "rd-navbar-static", "data-xxl-stick-up" => "true", "data-xxl-stick-up-offset" => "1px"}
    .rd-navbar-main-outer
      .rd-navbar-main
        / RD Navbar Panel
        .rd-navbar-panel
          / RD Navbar Toggle
          %button.rd-navbar-toggle{"data-rd-navbar-toggle" => ".rd-navbar-nav-wrap"}
            %span
          / RD Navbar Brand
          .rd-navbar-brand
            / Brand
            %a.brand{:href => root_path}
              %img.brand-logo-dark{:alt => "", :height => "54", :src => asset_path("logo-default-250x108.png"), :width => "125"}/
              %img.brand-logo-light{:alt => "", :height => "54", :src => asset_path("logo-inverse-250x108.png"), :width => "125"}/
        = render "shared/menu"
        .rd-navbar-fixed-element-2
          %a.button.button-primary-gradient{:href => "#"} Book Now
        = render "shared/menu_right"
