.rd-navbar-wrap
  %nav.rd-navbar.rd-navbar-minimal.rd-navbar-minimal-1{"data-layout" => "rd-navbar-fixed", "data-lg-auto-height" => "false", "data-lg-device-layout" => "rd-navbar-fixed", "data-lg-layout" => "rd-navbar-static", "data-lg-stick-up" => "true", "data-lg-stick-up-offset" => "50px", "data-md-device-layout" => "rd-navbar-fixed", "data-md-layout" => "rd-navbar-fixed", "data-sm-layout" => "rd-navbar-fixed", "data-xl-auto-height" => "false", "data-xl-device-layout" => "rd-navbar-static", "data-xl-layout" => "rd-navbar-static", "data-xl-stick-up" => "true", "data-xl-stick-up-offset" => "50px", "data-xxl-auto-height" => "false", "data-xxl-device-layout" => "rd-navbar-static", "data-xxl-layout" => "rd-navbar-static", "data-xxl-stick-up" => "true", "data-xxl-stick-up-offset" => "50px"}
    .rd-navbar-main-outer
      .rd-navbar-main
        .rd-navbar-main-left
          / RD Navbar Panel
          .rd-navbar-panel
            / RD Navbar Toggle
            %button.rd-navbar-toggle{"data-rd-navbar-toggle" => ".rd-navbar-nav-wrap"}
              %span
            / RD Navbar Brand
            .rd-navbar-brand
              / Brand
              %a.brand{:href => root_path}
                %img.brand-logo-dark{:alt => "", :height => "54", :src => asset_path("logo-default-250x108.png"), :width => "125"}/
                %img.brand-logo-light{:alt => "", :height => "54", :src => asset_path("logo-inverse-250x108.png"), :width => "125"}/
          %button.sidebar-toggle.rd-navbar-fixed-element-1{"data-rd-navbar-toggle" => ".sidebar-wrap"}
            %span
        .rd-navbar-main-right
          = render "shared/menu"
          %a.button.button-sm.button-primary.rd-navbar-fixed-element-2{:href => "#"}
            %span.icon.mdi.mdi-calendar-check
            %span.button-text book now
          = render "shared/menu_right"
    .sidebar-wrap
      .sidebar
        %h5.sidebar-title Get in Touch
        %img{:alt => "", :height => "262", :src => asset_path("image-1-333x262.jpg"), :width => "333"}/
        %ul.contacts-creative
          %li
            .unit.unit-spacing-md
              .unit-left
                %span.icon.linearicons-telephone
              .unit-body
                T.
                %a{:href => "tel:#"} +61 3 8376 6284
                = succeed "E." do
                  %br/
                %a{:href => "mailto:#"} info@demolink.org
          %li
            .unit.unit-spacing-md
              .unit-left
                %span.icon.linearicons-clock3
              .unit-body
                Opening Hours:
                %br>/
                07:00 am - 07:00 pm
          %li
            .unit.unit-spacing-md
              .unit-left
                %span.icon.linearicons-map2
              .unit-body
                %a{:href => "#"} 652 Main Road, Apt 12 New York, USA 10033
      .sidebar-panel
        %ul.list-social
          %li
            %a.icon.mdi.mdi-facebook{:href => "#"}
          %li
            %a.icon.mdi.mdi-google{:href => "#"}
          %li
            %a.icon.mdi.mdi-twitter{:href => "#"}
          %li
            %a.icon.mdi.mdi-pinterest{:href => "#"}
