$list-results-max-height: 300px;
$results-list-max-width: 270px;


.search-container {
  position: relative;
}

.search-input {
  display: flex;

  input {
    max-width: 300px;
  }
}

.search-results {
  position: absolute;
  left: 90%;
  top: 0;
  max-height: $list-results-max-height;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 9;
  background-color: white;
  border: dotted grey 1px;
  max-width: $results-list-max-width;
}

.result-item {
  padding-bottom: 5px;
  border-bottom: solid 1px orange;
  margin-bottom: 5px;
  text-align: center;
  max-width: $results-list-max-width;

  &:hover {
    background-color: orange;
    color: white;
    cursor: pointer;
  }
  .highlight-search {
    background-color: orange;
  }
}

.search-chosen {
  position: relative;
  width: 85%;
  top: 10px;
  left: 40%;
  text-align: center;
  font-size: medium;
  color: black;
  max-height: 120px;
  overflow-y: auto;
  overflow-x: hidden;
}

.item-selected {
  display: flex;
  margin-bottom: 10px;
  text-align: left;

  .equipment-name {
    width: $results-list-max-width;
  }

  div {
    padding-top: 12px;
  }
}
.item-selected-Equipment {
  width: 540px;
}
.equipment-qty {
  display: flex;
  margin-top: -12px;

  input {
    margin-left: 15px;
    width: 90px;
    font-weight: normal;
    text-align: center;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
  }
}

.delete-selected {
  margin-right: 20px;
  margin-top: 15px;
  cursor: pointer;
}

.mw-20vw {
  max-width: 20vw;
}
