$list-results-max-height: 300px;
$results-list-max-width: 270px;


.search-container {
  position: relative;
}

.search-input {
  display: flex;

  input {
    max-width: 300px;
  }
}

.search-results {
  position: absolute;
  left: 90%;
  top: 0;
  max-height: $list-results-max-height;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 9;
  background-color: white;
  border: dotted grey 1px;
  max-width: $results-list-max-width;
}

.result-item {
  padding-bottom: 5px;
  border-bottom: solid 1px orange;
  margin-bottom: 5px;
  text-align: center;
  max-width: $results-list-max-width;

  &:hover {
    background-color: orange;
    color: white;
    cursor: pointer;
  }
  .highlight-search {
    background-color: orange;
  }
}

.search-chosen {
  position: absolute;
  top: 55px;
  left: 40%;
  text-align: center;
  font-weight: bold;
  font-size: medium;
  color: green;
  max-height: 100px;
  overflow-y: auto;
}

.item-selected {
  display: flex;
  margin-bottom: 10px;

  div {
    padding-top: 12px;
  }
}

.delete-selected {
  margin-right: 20px;
  margin-top: 15px;
  cursor: pointer;
}
