.btn-add_user {
  &:hover {
    color: blue;
    background-color: white;
    font-weight: bold;
  }
}
.btn-delete-add_user {
  background-color: red !important;
  &:hover {
    color: red;
    background-color: white !important;
  }
}
