.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Associations
    %ol.breadcrumb
      %li
        %a{:href => admin_root_path} Accueil
      %li
        %a{:href => admin_entities_path} Associations
      %li.active
        %strong Modifier une association

= render 'form'
