.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Réservations
    %ol.breadcrumb
      %li
        %a{:href => admin_root_path} Accueil
      %li.active
        %strong Réservations

.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title
          %h5 L'ensemble des Réservations définies
          .ibox-tools
            = link_to 'Nouvelle réservation', new_admin_registration_path, class: 'btn btn-primary', style: 'margin-right: 50px'

        .ibox-content
          - if @registrations.size > 0
            Hello

          - else
            Aucune réservation enregistrée.
