.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Réservations
    %ol.breadcrumb
      %li
        %a{:href => admin_root_path} Accueil
      %li
        %a{:href => admin_registrations_path} Réservations
      %li.active
        %strong Ajouter une réservation

= render 'form'
