.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Catégories
    %ol.breadcrumb
      %li
        %a{:href => admin_root_path} Accueil
      %li
        %a{:href => admin_categories_path} Catégories
      %li.active
        %strong Modifier une catégorie

= render"form"
