%section.breadcrumbs-custom.bg-image.context-dark.scroll-handler{:style => "background-image: #{asset_path('bg-breadcrumbs.jpg')};"}
  .image-overlay{"data-canvas-src" => asset_path("bg-breadcrumbs.jpg"), :style => "background-image: #{asset_path('bg-breadcrumbs.jpg')};"}
  .breadcrumbs-panel
    .container
      %ul.breadcrumbs-custom-path
        %li
          %a{:href => root_path} Accueil
        %li.active Activités

%section.section.section-xl.bg-default.text-center
  .container
    -@categories.each do |category|
      -if category.activities.visible.size > 0
        %h2
          = category.name
        .row.row-xl.row-30
          -@activities.where(category_id: category.id).each do |activity|
            .col-sm-6.col-lg-4
              %a.stretched-link{:href => activity_path(activity)}
                %article.team.block-md
                  %img.team-image{:alt => "", :height => "314", :src => asset_path("team-1-370x314.jpg"), :width => "370"}/
                  .team-content
                    %div
                      -#.team-position Founder, Director
                      .heading-5.team-name
                        = activity.name
        %br
        %br
