.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title
          %h5
            Veuillez remplir toutes les informations concernant votre fournisseur
        .ibox-content
          .red.mb-20 Les champs marqués de (*) sont obligatoires
          = form_for [:admin, @supplier], validate: true, html: {class: 'form-horizontal'} do |supplier_form|
            .form-group
              %label.col-sm-1.control-label
                Nom
                %span.red *
              .col-sm-3
                = supplier_form.text_field :name, class: 'form-control bg-contrast'
            %br
            = render partial: 'shared/contact_form', locals: { form: supplier_form, object: @supplier }

            .form-group
              .col-sm-4
                %button.btn.btn-primary{type: 'submit'} Sauver le fournisseur
