%section.breadcrumbs-custom.bg-image.context-dark.scroll-handler{:style => "background-image: #{asset_path('bg-breadcrumbs.jpg')};"}
  .image-overlay{"data-canvas-src" => asset_path("bg-breadcrumbs.jpg"), :style => "background-image: #{asset_path('bg-breadcrumbs.jpg')};"}
  .breadcrumbs-main
    .container
      %h2.breadcrumbs-custom-title.scroll-title Team Member
  .breadcrumbs-panel
    .container
      %ul.breadcrumbs-custom-path
        %li
          %a{:href => "index.html"} Home
        %li
          %a{:href => "#"} About
        %li.active Team Member
/ Single coach page
%section.section.section-xl.bg-default
  .container
    .row.row-30.row-lg-50
      .col-sm-6.col-md-5.col-lg-6
        %img{:alt => "", :height => "537", :src => asset_path("team-11-500x537.jpg"), :width => "500"}/
      .col-md-7.col-lg-6
        .team-big
          .heading-3.team-big-name Jack Johnson
          .team-big-position VIP Host
          %ul.list-social.list-inline.list-inline-md
            %li
              %a.icon.mdi.mdi-facebook{:href => "#"}
            %li
              %a.icon.mdi.mdi-google{:href => "#"}
            %li
              %a.icon.mdi.mdi-twitter{:href => "#"}
            %li
              %a.icon.mdi.mdi-pinterest{:href => "#"}
          .big.team-big-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Gimply dummy text of the printing and typesetting industryorem Ipsum has been the industry's standard dummy texake of the.
          .progress-linear-wrap
            / Linear progress bar
            .progress-linear
              .progress-linear-header
                %p.progress-linear-title Dedication
                %span.progress-linear-counter 85
              .progress-linear-body
                .progress-linear-bar
            / Linear progress bar
            .progress-linear.progress-linear-blue
              .progress-linear-header
                %p.progress-linear-title Knowledge
                %span.progress-linear-counter 80
              .progress-linear-body
                .progress-linear-bar
            / Linear progress bar
            .progress-linear.progress-linear-secondary
              .progress-linear-header
                %p.progress-linear-title Experience
                %span.progress-linear-counter 70
              .progress-linear-body
                .progress-linear-bar
